Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins
Build
Content/Building/
Content/Prop/
Content/Megaskans/
Content/__ExternalActors__/
!/Content/__ExternalActors__/LVLs
Content/Crowd
Content/EuropeanBeech
Content/Vehicle
Content/Road
Content/Geometry
Content/TropicalFoliage
Content/BeachScene
Content/Material
Content/Tropical_Jungle_Pack
Content/DD_Vehicles_Advanced
!/Content/DD_Vehicles_Advanced/Blueprints
Content/Environment
Content/VehicleVarietyVol2
!/Content/VehicleVarietyVol2/Blueprints
Content/VehicleVarietyPack
!/Content/VehicleVarietyPack/Blueprints
Content/MetaHumans
Content/SuburbNeighborhoodHousePack
Content/SportsStadium
Content/Character
Content/ResidentialGarage
Content/Audio
Content/City
Content/Effect
Content/NYC1950_ClassicCar01
Content/Market_Environment
Content/Textures
Content/ModernRacingCar
!/Content/ModernRacingCar/Blueprints
Content/UI
Content/Assets
Content/Lighting
Content/WFC
Content/Realistic_Starter_VFX_Pack_Vol2
Content/Map
Content/MyModels
Content/LoadingScreen
Content/Splash
Content/ProIconPack
Content/Meshes