Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins
Build
Content/Building
Content/Prop
Content/Megascans
Content/EuropeanBeech
Content/Vehicle
Content/Road
Content/Geometry
Content/TropicalFoliage
Content/BeachScene
Content/Material
Content/Tropical_Jungle_Pack
Content/Environment
Content/MetaHumans
Content/SuburbNeighborhoodHousePack
Content/SportsStadium
Content/Character
Content/ResidentialGarage
Content/Audio
Content/City
Content/Effect
Content/NYC1950_ClassicCar01
Content/Market_Environment
Content/Textures
Content/UI
Content/Assets
Content/Lighting
Content/WFC
Content/Realistic_Starter_VFX_Pack_Vol2
Content/Map
Content/MyModels
Content/LoadingScreen
Content/Splash
Content/ProIconPack
Content/Meshes
Content/__ExternalActors__/Map
Content/__ExternalActors__/Isty
Content/__ExternalActors__/Levels
Content/DD_Vehicles_Advanced/Textures
Content/DD_Vehicles_Advanced/Meshes
Content/DD_Vehicles_Advanced/Animations
Content/VehicleVarietyPack/Textures
Content/VehicleVarietyPack/Skeletons
Content/VehicleVarietyVol2/Textures
Content/ModernRacingCar/Textures