.vs/
Binaries/
DerivedDataCache/
Intermediate/
Saved/

*.vsconfig
*.sln
*.png
*.jpg
*.wav
*.mp3
*.fbx

desktop.ini
*/desktop.ini

Content/

Plugins/*/Intermediate/
Plugins/*/Binaries/

Plugins/AdvancedSessions/*/Intermediate/
Plugins/AdvancedSessions/*/Binaries/
